[submodule "ML-with-Python"]
	path = ML-with-Python
	url = https://github.com/right-stack/ML-with-Python.git
[submodule "Intro-to-DL-with-Keras"]
	path = Intro-to-DL-with-Keras
	url = https://github.com/right-stack/Intro-to-DL-with-Keras.git
