[submodule "ML-with-Python"]
	path = ML-with-Python
	url = https://github.com/right-stack/ML-with-Python.git
[submodule "Intro-to-DL-with-Keras"]
	path = Intro-to-DL-with-Keras
	url = https://github.com/right-stack/Intro-to-DL-with-Keras.git
[submodule "Intro-to-CV-and-Image-Processing"]
	path = Intro-to-CV-and-Image-Processing
	url = https://github.com/right-stack/Intro-to-CV-and-Image-Processing.git
[submodule "NN-with-Pytorch"]
	path = NN-with-Pytorch
	url = https://github.com/right-stack/NN-with-Pytorch.git
[submodule "DL-with-TensorFlow"]
	path = DL-with-TensorFlow
	url = https://github.com/right-stack/DL-with-TensorFlow.git
